.DS_Store
.svn/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*dist

# Editor directories and files
.idea
.vscode
.project
.settings
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml
.ipr
.iws
*.diff
*.patch
*.bak
.*proj
*.swp
*.swo
*.log
*.cache